<table ng-show="vasteMutaties.length>0">
	<tr>
		<td>Your current bank account balance:</td>
		<td><input class="bankamount-input" type="text" ng-model="bankAmount"></td>
	</tr>
</table>

<!--<button class="calc-spending" ng-click="calculateAllowedExpenses()" >Bereken bestedingsruimte voor de resterende maand.</button>-->

<div ng-result ng-show="calculationDone&&vasteMutaties.length>0"></div>
<br>
<table ng-show="vasteMutaties.length>0" width="100%" class="mutation-list">
	<thead>
	<td ng-click="sortOnName()">costs/income</td>
	<td ng-click="sortOnAmount()">amount</td>
	<td ng-click="sortOnDate()">day</td>
	</thead>
	<tr ng-click="mutationClicked(m.id)" ng-repeat="m in vasteMutaties" class="mutation" ng-class="{mainincome:m.mainincome}">
		<td>{{m.name}}</td>
		<td ng-class="{topay:m.due,torecieve:m.amount>0&&m.due,debet:m.amount<0,credit:m.amount>0}" >{{m.amount}}</td>
		<td ng-class="{mainincome:m.mainIncome}" >{{m.monthday}}</td>
	</tr>
</table>
<br>
<a ng-href="#/new/" class="add-mutation">Add mutation</a>
